#!/bin/bash -eEu

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}

source /usr/share/cachyos-fish-config/cachyos-config.fish

# overwrite greeting
# potentially disabling fastfetch
function fish_greeting
   # smth smth
end

{{ else if eq .chezmoi.os "darwin" -}}

starship init fish | source

{{ end }}

export EDITOR=nvim
export TMUX_SHELL=$(which fish)

mise activate fish | source
zoxide init fish | source

alias cd="z"
alias cdi="zi"

if status is-interactive
    if not set -q TMUX
        if command -q tmux
            set -l sessions (tmux list-sessions -F "#{session_name}" 2>/dev/null)
            set -l session_count (count $sessions)

            if test $session_count -gt 1
                if command -q fzf
                    set -l target (printf '%s\n' $sessions | fzf --prompt="tmux session> " --height=40%)
                    if test -n "$target"
                        exec tmux attach -t "$target"
                    end
                else
                    exec tmux attach -t "$sessions[1]"
                end
            else if test $session_count -eq 1
                exec tmux attach -t "$sessions[1]"
            else
                exec tmux new -s main
            end
        end
    end
end

