#!/bin/bash -eEu

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}

source /usr/share/cachyos-fish-config/cachyos-config.fish

# overwrite greeting
# potentially disabling fastfetch
function fish_greeting
   # smth smth
end

{{ else if eq .chezmoi.os "darwin" -}}

starship init fish | source

{{ end }}

export EDITOR=nvim

mise activate fish | source
zoxide init fish | source

alias cd="z"
alias cdi="zi"

# uv
fish_add_path "/home/student/.local/bin"

if not set -q HERDR_ENV; and not set -q SSH_CONNECTION
  exec herdr
end
