[credential "https://github.com"]
	helper = 
	helper = !/home/keigo/.local/share/aquaproj-aqua/pkgs/github_release/github.com/cli/cli/v2.73.0/gh_2.73.0_linux_amd64.tar.gz/gh_2.73.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/keigo/.local/share/aquaproj-aqua/pkgs/github_release/github.com/cli/cli/v2.73.0/gh_2.73.0_linux_amd64.tar.gz/gh_2.73.0_linux_amd64/bin/gh auth git-credential
[user]
	name = {{ .git_name }}
	email = {{ .git_email }}
[init]
	defaultBranch = main
