[init]
	defaultBranch = main
[user]
	name = g22307
	email = g22307@kagawa.kosen-ac.jp
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJNUnPxFz3jXvOq+3ZEpw4VxHeJcrsIZ9f/cpTDd1RBB
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ else if eq .chezmoi.os "linux" }}
	program = "/opt/1Password/op-ssh-sign"
{{ end }}
[commit]
	gpgsign = true
