{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}

#!/bin/bash -eEu

# Update all outdated packages
paru -Syu --noconfirm

# Install needed packages
paru -S --needed --noconfirm \
  neovim rustup mise ghostty \
  1password teams-for-linux \
  fcitx5-im fcitx5-mozc \
  cliphist \
  lazygit github-cli \
  git-delta zoxide \
  tailscale \
  tmux

fcitx5 -rd

# Install rust
rustup install stable
rustup install nightly
rustup default stable

# Install packages use mise
mise use -g usage@latest

# gtk theme
gsettings set org.gnome.desktop.interface color-scheme prefer-dark

# enable and start systemd services
sudo systemctl enable --now tailscaled.service

{{ end }}
