{{ if eq .osid "linux-arch" -}}

#!/bin/bash -eEu

# Linux common installation
sudo pacman -S --noconfirm --needed base-devel git wget unzip rustup gum

if ! command -v aqua &>/dev/null; then
    curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.1.2/aqua-installer | bash
fi

# rustup
gum log --level info "Installing rustup"
rustup install stable
rustup default stable

# install paru
if ! command -v paru &>/dev/null; then
    gum log --level info "Installing paru"
    git clone https://aur.archlinux.org/paru.git "$HOME/paru"
    cd "$HOME/paru" || exit
    makepkg -si --noconfirm
    cd $HOME || exit
    rm -rf "$HOME/paru"
fi

if ! echo "command -v fisher &>/dev/null" | fish; then
    echo "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source" | fish
    echo "fisher install jorgebucaran/fisher" | fish
    echo "fisher install PatrickF1/fzf.fish" | fish
fi

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

if ! command -v win32yank.exe &>/dev/null; then
    gum log --level info "Setup win32yank"
    cd /tmp
    curl -Lo /tmp/win32yank.zip https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip
    unzip /tmp/win32yank.zip
    chmod +x win32yank.exe
    sudo mv win32yank.exe /usr/local/bin/
fi

{{   end }}
{{ end -}}
