{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "cachyos") -}}

#!/bin/bash -eEu

# Update all outdated packages
shelly -SU -n

# Install needed packages
shelly -SI -n \
  neovim rustup mise ghostty \
  fcitx5-im fcitx5-mozc \
  cliphist \
  lazygit github-cli \
  git-delta zoxide \
  tailscale \
  tmux

shelly -AI -n \
  1password teams-for-linux

fcitx5 -rd

# Install rust
rustup install stable
rustup default stable

# Install packages use mise
mise use -g usage@latest
mise use -g node@latest

# gtk theme
gsettings set org.gnome.desktop.interface color-scheme prefer-dark

# enable and start systemd services
sudo systemctl enable --now tailscaled.service

{{ end }}
