{{ if eq .osid "linux-arch" -}}
#!/bin/fish

set script_dir (status --current-filename)

function notify
    echo -e "\e[37m[\e[32mINFO\e[37m]\e[m $argv[1]"
end

# install wslu (Windows Subsystem for Linux Utilities)
if test -f /proc/sys/fs/binfmt_misc/WSLInterop; and not type -q wslupath
    notify "Installing wslu"
    cd $HOME
    wget https://pkg.wslutiliti.es/public.key
    sudo pacman-key --add public.key
    sudo pacman-key --lsign-key 2D4C887EB08424F157151C493DD50AA7E055D853
    rm public.key

    echo -e "[wslutilities]\nServer = https://pkg.wslutiliti.es/arch/" | sudo tee -a /etc/pacman.conf
    sudo pacman -Sy --noconfirm
    sudo pacman -S --needed --noconfirm wslu
else
    notify "Skipped installing wslu"
end

# install paru (AUR helper)
if not type -q paru
    notify "Installing paru(AUR helper)"
    git clone https://aur.archlinux.org/paru.git $HOME/paru
    cd $HOME/paru
    makepkg -si --noconfirm
    cd $HOME
    rm -rf paru
else
    notify "Skipped installing paru"
end

# Install package from package list
notify "Installing packages from package list"
{{ range .packages.linux_arch.paru -}}
set -a packages {{ . | quote }}
{{ end -}}
paru -S --needed --noconfirm $packages
set -e packages

# install fisher
if not type -q fisher
    notify "Installing fisher"
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
    fisher update
else
    notify "Skipped installing fisher"
end

# mise setup
notify "Setup mise"
mise use --global usage
mise use --global node@latest

# git config
notify "Git config"
git config --global user.name "{{ .git_name }}"
git config --global user.email "{{ .git_email }}"
git config --global init.defaultBranch main

{{ end -}}
