{{ if eq .osid "linux-arch" -}}
#!/bin/bash -eEu
if [ ! -f /proc/sys/fs/binfmt_misc/WSLInterop ]; then
  exit 0 
fi

function notify() {
  echo -e "\e[37m[\e[32mINFO\e[37m]\e[m $1"
}

notify "WSL detected, installing packages"

sudo pacman -S --noconfirm --needed base-devel git wget unzip rustup

# rustup
notify "install with rustup"
rustup install nightly
rustup target add x86_64-pc-windows-msvc
rustup target add x86_64-pc-windows-gnu
rustup install stable
rustup default stable

if ! type -P paru > /dev/null; then
  notify "Installing paru"
  git clone https://aur.archlinux.org/paru.git $HOME/paru
  cd $HOME/paru
  makepkg -si --noconfirm
  cd $HOME
  rm -rf paru
  notify "paru installed"
fi

notify "Installing packages"
paru -S --noconfirm --needed \
  fish \
  fisher \
  neovim-nightly-bin \
  zellij \
  mise-bin \
  reflector \
  fzf \
  lazygit \
  github-cli \
  ripgrep \
  fd \
  bottom \
  starship \

# git config
notify "Git config"
git config --global user.name "{{ .git_name }}"
git config --global user.email "{{ .git_email }}"
git config --global init.defaultBranch main

# mise
notify "install with mise"
mise use -g usage@latest
mise use -g node@latest
mise use -g python@latest

# fisher
notify "install with fisher"
echo "fisher update" | fish

{{ end -}}
