    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    overview {
      // Choose your favorite color.
      backdrop-color "#222222"
    }
