window-rule {
    geometry-corner-radius 20 // Set every window radius to 20
    clip-to-geometry true
    background-effect {
      blur true
      xray false
    }
}

window-rule {
  match app-id="com.mitchellh.ghostty"

  background-effect {
    blur true
  }
}

window-rule {
  match app-id="org.gnome.NautilusPreviewer"

  open-floating true
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

/* Enable blur on noctalia's window switcher and disable xray. */
layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

blur {
  passes 3        
  offset 3.0      
  noise 0.02      
  saturation 1.5
}
